.signupSection{
    padding: 2rem;
    max-width: 100vw;
}
.signupWrapper{
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 58px;
    background-size: contain;
}
.mainWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 3.5rem;
}
.mainWrapper h2{
    width: 48%;
    font-family:"Inter",sans-serif;
font-size: 3.75rem;
font-weight: 400;
line-height: 4.75rem;
letter-spacing: -2px;
text-align: left;
color: var(--white);

}
.connectText{
    font-family: Inter;
font-size: 1.25rem;
font-weight: 400;
line-height: 1.85rem;
text-align: left;
color: var(--white);

}
.signupConnection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.fname ,.email{
    width: 30vw;
}
.fname input,.email input{
    width: 100%;
background-color: transparent;
border: none;
outline: none;
border-bottom:2px solid var(--white);
height: 44px;
color: var(--white);
padding: 1rem 0;
font-size: 1.15rem;
font-weight: 400;
line-height: 1.45rem;

}
.fname input::placeholder,.email input::placeholder{
    font-family: "Inter",sans-serif;
font-size: 1.15rem;
font-weight: 400;
line-height: 1.45rem;
text-align: left;
color: var(--white);

}
.email{
    position: relative;
}
.email img{
position: absolute;
right: 0;
top: 30%;
}
@media (max-width:992px){
    .mainWrapper h2{
        font-size: 2.75rem;

        
    }
}
@media (max-width:640px){
    .signupSection{
        padding: 1rem;
    }
    .mainWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .mainWrapper h2{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        line-height: 2.75rem;
        letter-spacing: 0;

    }
    .signupConnection{
        flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%;
    }
    .fname,.email{
        width: 70vw;
    }
}
