.joinTeamSection{
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.joinImage{
    flex:1;
}
.joinImage img{
    width: 50vw;
height: 100%;
object-fit: cover;
border-radius: 20px;
}
.joinContent{
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--accent);
    padding: 2rem 3rem;
    gap: 1rem;
    border-radius: 42px;
}
.joinContent h2{
    font-family: "Inter",sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.25rem;
    text-align: left;
    color: var(--white);

}
.joinContent p{
    font-family: "Inter",sans-serif;
font-size: 1.15rem;
font-weight: 400;
line-height: 1.75rem;
text-align: justify;
color: var(--white);

}
.jobOpenBtn{
    background-color: var(--primary-bg);
    padding: 1rem;
    font-family: "Inter",sans-serif;
font-size: 1.25rem;
font-weight: 700;
line-height: 1.65rem;
color: var(--white);
border-radius: 30px;
}
@media (max-width:992px){
    .joinTeamSection{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .joinImage img{
        width: 100%;
    }
}
@media (max-width:576px){
    .joinTeamSection{
        padding: 2rem 1.5rem;
    }
    .joinContent h2{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    .joinContent{
        padding: 1.5rem;
    }
}